@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');

:root {
    --font-family: 'Fira Sans', sans-serif;
    --bg-color: #FF7000;
    --primary-color: #EFF5F5 ;

}

body {
 background-color: var(--bg-color);
 color: var(--primary-color);
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin: 0;
 font-family: var(--primary-color);
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 5px;
  margin: 20px;
}